<div class="min-h-screen flex items-center justify-center bg-black relative overflow-hidden">

  <!-- Strong white smoky center -->
  <div class="absolute w-[500px] h-[500px] rounded-full bg-white opacity-10 blur-[100px] -top-[50px] pointer-events-none"></div>

  <!-- Glass Card -->
  <div class="relative z-10 w-full max-w-md p-8 backdrop-blur-lg bg-white/10 border border-white/20 rounded-2xl shadow-xl">
    <div class="flex flex-col items-center">
      <div class="text-white text-4xl mb-6">
        <i class="fas fa-door-open"></i> <!-- You can replace with your own icon -->
      </div>
      <h2 class="text-2xl text-white font-bold mb-2">Chat Verse</h2>
      <p class="text-white/70 mb-6 text-center">Please Sign In to access</p>

      <div class="w-full mb-4">
        <input [disabled]="magicLinkSent" [(ngModel)]="email" id="email" type="email" placeholder="Email Address ..."
               class="w-full p-3 rounded-lg bg-white/10 text-white placeholder-white/50 focus:outline-none focus:ring-1 focus:ring-purple-400" autocomplete="off" />
        <p class="text-white/60 text-xs mt-2">A magic link will be sent to your email to complete the sign-in process.</p>
      </div>

      <button [disabled]="magicLinkSent" (click)="signIn()" [ngClass]="{'bg-gray-500!': magicLinkSent}" class="flex items-center justify-center w-full py-3 mt-4 bg-white text-black font-bold rounded-lg hover:bg-gray-500 transition ease-in-out duration-400 cursor-pointer text-center">
        @if (!isSigningIn || magicLinkSent) {
          <span>{{ signInBtnLabel }}</span>
        }
        @if (isSigningIn) {
          <span class="animate-spin">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-loader"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>
          </span>
        }
      </button>

    </div>
  </div>
</div>
